@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* COLORES */

/* #F0E5DC #CFA4C2 #C6CDC1 #FFF6E9 #FFFAF9 */

/* HEADER */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #FCF2D4;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFAF9; 
    transition: background-color 0.3s ease, opacity 0.3s ease;
    z-index: 100;
}

header:hover {
    opacity: 1;
}

.logo {
    background-image: url('./assets/logo.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    width: 61px;
    height: 61px;
}

header ul {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 16px;
}

header ul li {
    text-decoration: none;
    list-style: none;
    font-size: 21px;
    margin-left: 27px;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

header ul li a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 27px;
    margin-left: 16px;
}

/* MAIN */

main {
    position: relative; 
}

.secmain {
    position: relative; 
    height: 100vh; 
    width: 100%;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    transition: opacity 0.5s ease; 
    background-attachment: fixed; 
}

/* Secciones con imágenes de fondo */
.inicio {
    background-image: url('https://via.placeholder.com/800x600/FF5733/FFFFFF?text=Sección+1');
}

.portfolio {
    background-image: url(./assets/seccion1.jpg);
}

.productos {
    background-image: url('https://via.placeholder.com/800x600/33FF57/FFFFFF?text=Sección+2');
}

.contacto {
    background-image: url(./assets/seccion2.jpg);
}
